.container{
    position: relative;
    width: 100vw;
    height: 80vh;
}
.backgroundImages{
    z-index: 1;
    opacity: 0.8;
}
.logoimage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
